{% extends 'base.html' %} {% block content %}
<h1>Write a comment</h1>
<form method="POST" action="/api/form/create">
  <label> Comment</label>
  <input type="text" name="community_name" maxlength="140" />
  <label> Visibility </label>
  <select name="visibility">
    <option value="public">Public</option>
    <option value="private">Private</option>
  </select>
  <input type="submit" />
</form>
{% endblock%} {% block nav %}
<a href="/logout"> Log Out</a>
<a href="/{{login_user}}/profile"> Profile</a>
<a href="/{{login_user}}/create/comment"> Post a comment</a>
{% endblock%}
